//all basic css interfaces
@import "./variables.scss";

@mixin flex($dirrection, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $dirrection;
  justify-content: $justify;
  align-items:  $align;
  flex-wrap: $wrap;
};



