// all basic styles

//break-points 
$largeBP: 1006px;
$mediumBP: 768px;
$smallBP: 568px;

//main-colors
$bgColorWhite:  #ffffff;
$bgColorBlack:  #000000;
$bgcolorYellow:  #f8f83b;
$hColor:  #06498d;
$boxShadow:  3px 3px 15px rgb(31, 31, 31);

//fonts
$fontRoboto: 'Roboto', sans-serif;
$fontPopOne: 'Mochiy Pop One', sans-serif;

//other
$borderRadiusBoxes: 5px;

