// all basic styles

//break-points 
$largeBP: 1006px;
$mediumBP: 768px;
$smallBP: 568px;

//main-colors
$bgColor: rgb(240, 242, 245);
$h2BgColor:  #1976d2;
$boxShadow:  3px 3px 15px rgb(31, 31, 31);

