@import "./../../../assets/scss/variables.scss";

.body {
  margin: 0;
  background: linear-gradient(135deg, #eaf20a 10%, #ffbb00, #ff8000);
  background-size: cover;
  background-attachment: scroll;
  min-height: 100vh;
  animation: gradient 15s ease-in-out infinite;
  @media screen and (orientation:landscape) and (max-device-width: 900px) {
    height: 570px;
  }
};

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
};

.wrapper {
  padding: 10px;
  width: 400px;
  height: 90vh;
  margin: auto;
  top: 25px;
  background-color: #ffffff;
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  opacity: 0.8;
  backdrop-filter: blur(8px);
  @media (max-width: $smallBP) {
    width: 90%;
  }

  @media screen and (orientation:landscape) and (max-device-width: 900px) {
  width: 400px;
  height: 500px;
}
};