@import './../../assets/scss/variables.scss';

.menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  transition: 0.2s ease-in-out;
}

.button div{
  position: relative;
  top: -7.5px;
}

.menu:hover {
  background-color: rgb(190, 205, 215);
}

.buttonActive {
  transform: rotate(180deg);
  background-color: rgb(190, 205, 215);
  letter-spacing: 2.5px;
}

.subMenu {
  width: 300px;
  opacity: 0;
  min-height: 400px;
  background-color: $hColor;
  color: wheat;
  position: absolute;
  top: 54px;
  right: -150px;
  z-index: 1000;
  border-radius: 20px 0 0 20px; 
  visibility: hidden;
  box-shadow: inset 7px -7px 12px rgba(135, 160, 177, 0.5), 6px 6px 12px rgb(29 80 114 / 50%);
  transition: 0.3s;
}

.subMenuActive {
  visibility: visible;
  opacity: 1;
  right: -15px;
}

.link {
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
  transition: 0.2s;
}

.link:hover {
  background-color: white;
  color: $hColor;
}