@import "./../../assets/scss/variables.scss";

h1 {
  color:  $hColor;
  @media (max-width: $smallBP) {
    font-size: large;
  }
};

h2 {
  color: $hColor;
};

.form__box {
  width: 50%;
  min-height: 90vh;
  padding: 5px 5px 20px 5px;
  text-align: center;
  background-color: $bgColorWhite;
  border-radius: $borderRadiusBoxes; 
  position: absolute;
  top: 20px; 
  left: 25%;
  z-index: 50;
  opacity: 1;
    
  @media (max-width: $mediumBP) {
    width: 70%;
    left: 15%;
  }

  @media (max-width: $smallBP) {
    width: 80%;
    left: 10%;
  }
};

.form__input {
  font-family: $fontRoboto;
  font-size: medium;
  color: $hColor;
  padding: 5px 10px;
  margin-bottom: 2px;
  width: 80%;
  height: 25px;
  outline: 0;
  border: 1px solid $bgcolorYellow;
  border-radius: $borderRadiusBoxes;
  caret-color: $hColor;
};

.form__input::placeholder {
  font-family: $fontPopOne;
  font-size: small;
  color: rgba(103, 110, 196, 0.675);
};

.form__input:focus {
  border-color: $hColor;
  animation-duration: 1.5s;
  animation-name: shadowPuls;
  animation-iteration-count: infinite;
};

@keyframes shadowPuls {
  from {
    box-shadow: 0 0 4px $hColor;
  }

  50% {
    box-shadow: 0 0 10px $hColor;
  }

  to {
    box-shadow: 0 0 4px $hColor;
  }
}
