@import './../../assets/scss/variables.scss';

.body {
  margin: 0;
  background: linear-gradient(135deg, #eaf20a 10%, #ffbb00, #ff8000);
  background-size: 400% 400%;
  height: 100vh;
  background-attachment: fixed;
  animation: gradient 15s ease-in-out infinite;
};

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper {
  padding: 10px;
  width: 400px;
  height: 90vh;
  margin: auto;
  top: 25px;
  background-color: #ffffff;
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  opacity: 0.8;
  backdrop-filter: blur(8px);
  @media (max-width: $smallBP) {
    width: 90%;
  }
};