body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Mochiy Pop One", sans-serif;
  background-color: #ffff00;
}

code {
  font-family: "Roboto", sans-serif;
  font-family: "Mochiy Pop One", sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
};
